@import 'variables';
@import 'app-colors';
@import 'routes';
@import 'login';
@import 'registration';
@import 'dogs';
@import 'match';
@import 'ember-burger-menu';
@import 'friends';
@import 'messages';
@import 'direct-message';
@import 'settings';

.ember-burger-menu {
  .bm-content {
    overflow: hidden;
  }

  .bm-menu {
    display: flex;
    flex-direction: column;

    .bm-menu-header {
      display: flex;
      background-color: $clr-primary-orange;
      flex: 0 0 250px;
      flex-direction: column;
    }

    .other-half {
      padding-top: 13px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }

    .username {
      color: $clr-secondary-white;
    }

    .edit-profile {
      width: 80px;
      padding: 0;
      text-align: left;
      color: white;
      text-decoration: none;
      font-weight: lighter;
      font-size: 11px;
    }

    .top-half {
      display: flex;
      flex: 0 0 50%;
    }

    .bottom-half {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding-left: 30px;
    }

    .dogs {
      display: flex;
      margin-top: 10px;
      height: 100px;
    }

    .close-bm {
      position: absolute;
      right: 0;
    }

    .avatar-container {
      flex: 0 0 110px;
      height: 100%;
    }

    .bm-main-menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      color: $clr-primary-orange;
      font-size: 22px;
      font-weight: 100;

      a {
        color: $clr-primary-orange;
        text-decoration: none;
        font-weight: 100;
      }
    }

    .dog-avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      // background-color: gray;
    }

    .bm-avatar {
      height: 65px;
      width: 65px;
      // background-color: gray;
      border-radius: 50%;
      margin-left: 25px;
      margin-top: 15px;
    }

    .badges-friends-container {
      display: flex;
      justify-content: flex-start;
      flex: 1 1 auto;
      align-items: flex-end;
    }

    .badges-friends-container-in {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $clr-secondary-white;

      i {
        text-align: center;
        font-size: 20px;
      }

      span {
        font-size: 11px;
      }
    }

    .friends {
      margin-right: 20px;
    }

    .my-dogs {
      color: $clr-secondary-white;
      font-size: 11px;
      font-weight: lighter;
      padding-left: 10px;
    }

    .dog {
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .dog-edit {
      text-decoration: none;
      color: $clr-secondary-white;
      font-size: 10px;
    }

    .dog-name {
      color: $clr-secondary-white;
      font-size: 11px;
      font-weight: lighter;
    }

    .bm-menu-item-container {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: $clr-secondary-white;
      padding-top: 20px;
    }
  }
}

body {
  > div {
    height: 100vh;
  }
}

.bm-content {
  display: flex;
  flex-direction: column;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 65px;
  background-color: $clr-primary-orange;
  color: $clr-secondary-white;

  .menu-toggle {
    font-size: 28px;
    width: 40px;
    height: 35px;
    color: $clr-secondary-white
  }

  .messages {
    font-size: 24px;
    text-decoration: none;
    color: $clr-secondary-white
  }

  .header-edge {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.add-dog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

  a {
    color: $clr-secondary-white;
    text-decoration: none;
  }
}

.footer {
    background-color: $clr-primary-orange;
    display: flex;
    flex: 0 0 60px;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
}

button {
  background-color: transparent;
  border: none;
}

.page-loading {
  display: block;
  margin: auto;
  line-height: 100vw;
  font-size: 112px;
}
