@import 'variables';
@import 'app-colors';
@import 'routes';
@import 'login';
@import 'registration';
@import 'dogs';
@import 'match';
@import 'ember-burger-menu';
@import 'friends';
@import 'messages';
@import 'direct-message';
@import 'settings';
@import 'users';

@font-face {
    font-family: 'just_tell_me_whatregular';
    src: url('just_tell_me_what_regular_version_2-webfont.woff2') format('woff2'),
         url('just_tell_me_what_regular_version_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  outline: none;
}

.ember-burger-menu {
  .bm-content {
    overflow: hidden;
  }

  .bm-menu {
    display: flex;
    flex-direction: column;
    width: 250px !important;
    background-color: $clr-primary-orange;

    .bm-menu-header {
      display: flex;
      background-color: $clr-primary-orange;
      flex-direction: column;
    }

    .other-half {
      padding-top: 13px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }

    .username {
      color: $clr-secondary-white;
    }

    .edit-profile {
      width: 80px;
      padding: 0;
      text-align: left;
      color: white;
      text-decoration: none;
      font-weight: lighter;
      font-size: 11px;
    }

    .top-half {
      display: flex;
      flex: 0 0 150px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .bottom-half {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    .dogs {
      display: flex;
      margin-top: 10px;
      flex-wrap: wrap;
      padding-left: 20px;
    }

    .close-bm {
      position: absolute;
      right: 0;
    }

    .avatar-container {
      flex: 0 0 110px;
      height: 100%;
    }

    .bm-main-menu-item {
      display: flex;
      align-items: center;
      height: 40px;
      color: $clr-secondary-white;
      font-size: 22px;
      font-weight: 100;
      padding-left: 50px;

      a {
        color: $clr-secondary-white;
        text-decoration: none;
        font-weight: 100;
      }
    }

    .dog-avatar {
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }

    .bm-avatar {
      height: 90px;
      width: 90px;
      border-radius: 50%;
    }

    .badges-friends-container {
      display: flex;
      justify-content: flex-start;
      flex: 1 1 auto;
      align-items: flex-end;
    }

    .badges-friends-container-in {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $clr-secondary-white;

      i {
        text-align: center;
        font-size: 20px;
      }

      span {
        font-size: 11px;
      }
    }

    .friends {
      margin-right: 20px;
    }

    .my-dogs {
      color: $clr-secondary-white;
      font-size: 11px;
      font-weight: lighter;
      padding-left: 50px;
    }

    .my-friends{
      display: flex;
      color: $clr-secondary-white;
      font-size: 11px;
      font-weight: lighter;
      padding-left: 50px;
    }

    .my-friends p {
      padding-left: 3px;
    }

    .dog {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80px;
    }

    .add-dog-container {
      width: 200px;
    }

    .dog-edit {
      text-decoration: none;
      color: $clr-secondary-white;
      font-size: 10px;
    }

    .dog-name {
      color: $clr-secondary-white;
      font-size: 11px;
      font-weight: lighter;
    }

    .bm-menu-item-container {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: $clr-primary-orange;
      padding-top: 20px;
      justify-content: flex-end;
      padding-bottom: 40px;
    }
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'just_tell_me_whatregular';

  > div {
    height: 100vh;
  }
}

.bm-content {
  display: flex;
  flex-direction: column;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 65px;
  background-color: $clr-primary-orange;
  color: $clr-secondary-white;

  .menu-toggle {
    font-size: 28px;
    width: 40px;
    height: 35px;
    color: $clr-secondary-white
  }

  .messages {
    font-size: 24px;
    text-decoration: none;
    color: $clr-secondary-white;

    img {
      height: 30px;
    }
  }

  .header-edge {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.add-dog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

  a {
    color: $clr-secondary-white;
    text-decoration: none;
  }
}

.footer {
    background-color: $clr-primary-orange;
    display: flex;
    flex: 0 0 60px;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
}

button {
  background-color: transparent;
  border: none;
}

.page-loading {
  display: block;
  margin: auto;
  line-height: 100vw;
  font-size: 112px;
}

.paw-icon {
  height: 40px;
}

.supdog-logo {
  height: 30px;
}

.postContainer{
  margin-top: 10px;
  height: 400px;
  width: 300px;
}
.uploadedPic{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.uploadedPic img {
  width: 250px;
  height: 250px;
}

.profilePic {
  display: inline;
}

.profilePic img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.post-name {
  color: green;
  font-size: 10px;
}

.post-location {
  font-size: 9px;
}

.buddy-stream {
  display: flex;
  height: 600px;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.post-body-container {
  padding-left: 20px;
}

.post-body {
  font-size: 12px;
}
