@import 'variables';

.friends-list{
  display: flex;//use flex
  flex-wrap: wrap;//wrap around when end of row is reached
  flex: 1 1 auto;//expand to fill the space in between header bars
  overflow-y: scroll;//make sure the bottom bit doesn't come up

  .friend-entry {
    display: flex;
    flex: 0 0 50%;// do not grow, do not shrink, start at half screen width.
    height: 180px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name {
      font-size: 20px;
      margin-top: 10px;
    }

    .avatar {
      height: 140px;
      width: 140px;
      border-radius: 50%;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
}
