@import 'variables';

.matching-pane {
  display: flex;
  flex: 1 1 auto;

  .profile-header {
    flex: 1 1 auto;
    overflow-y: scroll;

    .avatar {
      height: 310px;
      width: 310px;
      border-radius: 20px;
    }
  }

  .name-container {
    display: flex;
    align-items: flex-start;
    width: 200px;
    padding-left: 35px;
  }

  .bio-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .bio {
      max-height: 100px;
      overflow: hidden;
    }
  }

  .owner-profile-preview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      height: 75px;
    }

    .owner-name-container {
      margin-top: 10px;
      font-size: 18px;
      color: $clr-primary-blue;
    }
  }

  .toggle-profile-container {
    display: flex;
    flex: 1 1 auto;
    width: calc(100% - 40px);
    justify-content: flex-end;
    padding-right: 40px;
    align-items: flex-end;
    padding-bottom: 20px;

    &.profile-open {
      flex: 0 0 20px;
    }
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }
}

.feeling-header {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  color: $clr-secondary-white;
}

.feeling-entry {
  font-size: 25px;
  color: $clr-secondary-white;
}

.choose-feeling-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 100px;
  background-color: $clr-primary-orange;
}

.loading-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  .loading {
    height: 300px;
    width: 300px;
    background-color: $clr-primary-blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    >span {
      font-size: 25px;
      color: $clr-secondary-white;
      text-align: center;
      line-height: 1.25;
    }
  }
}
