.registration-pane {
  button {
    text-decoration: none;
    font-size: 150%;
    border: 1px solid rgba(16, 16, 97, 0.342);
    background: white;
    border-radius: 15px;
    width: 130px;
    padding: 5px 30px;
  }

  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 400px;
    height: 50px;
    font-size: 30px;
  }
}
