@import 'variables';

.settings-container {
  overflow-y: scroll;//make sure the bottom bit doesn't come up
  h4 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .settings-row {
    .slider-row {
      padding-bottom: 5%;
      padding-left: 7%;
      padding-right: 7%;
      border-style: solid;
      border-radius: 40px;
      margin: 8%;
      background-color: $clr-secondary-white;
    }
    span{
      display: flex;
      padding-top: 2%;
      padding-bottom: 1%;
      padding-right: 20%;
      font-weight: 900;
      color: $clr-primary-blue;
    }
    .column{
      float: left;
      display: flex;
      flex-direction: column;
      width: 45%;
      padding-left: 5%;
    }

  }
  .divider{
    padding-top: 2.5%
  }
  #Save {
    padding-left: 25%;
    padding-right: 25%;
    border-style: solid;
    border-radius: 40px;
    margin: 7.5%;
  }
}
