@import 'variables';

.settings-container {
  overflow-y: scroll;//make sure the bottom bit doesn't come up
  background-color: #a2ecf9;
  h4 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .settings-row {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-radius: 40px;
    margin: 8%;
    background-color: $clr-secondary-white;
    span{
      display: flex;
      justify-content: center;
      padding-top: 2%;
      padding-bottom: 1%;
      font-weight: 900;
      color: $clr-primary-blue;
    }
    .select-row{
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      flex-direction: column;
    }
  }
  .divider{
    padding-top: 2.5%
  }
}
