$bm-transition-duration: 0.3s;
$bm-overlay-background: rgba(0, 0, 0, 0.1);

$clr-primary-orange: #f4826c;
$clr-primary-blue: #2fbec0;
$clr-primary-yellow: #f6c96c;

$clr-secondary-gray: #3d3f3f;
$clr-secondary-white: #f6f7f8;
