<div class="conversation-header">
  <img class="conversation-avatar" src="https://cs.iupui.edu/~jbcampbe/person.svg" alt="avatar">
  <span class="name">Test Rupsis</span>
</div>
<div class="conversation-body">
  <div class="message">
    <div class="message-bubble">
      <span>Hey I'm Hazel!</span>
    </div>
  </div>
  <div class="message user-message">
    <div class="message-bubble">
      <span>Hey I'm Bo, nice to meet ya!</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>What is up!?</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Bo and I are about to head to the dog park if you want to join!</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Yeah!</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Where at?</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Hey I'm Hazel!</span>
    </div>
  </div>
  <div class="message user-message">
    <div class="message-bubble">
      <span>Hey I'm Bo, nice to meet ya!</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>What is up!?</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Bo and I are about to head to the dog park if you want to join!</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Yeah!</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">
      <span>Where at?</span>
    </div>
  </div>
</div>
