<div class="buddy-stream">
  <div class="postContainer">
    <div class="profilePic" > <img src="https://s3.amazonaws.com/supdog/FeedImage2.jpg" alt="feedimage2"> </div>

    <span class="post-name"> <strong>Evan Smith </strong> </span> <span class="post-location">was at <strong> Broad Ripple Animal Park</strong></span>
    <br>
    <div class="post-body-container">
      <span class="post-body"> Met up at the park with other fellow SupDogers and Oliver made new friends! </span>
    </div>
    <div class="uploadedPic" > <img src="https://s3.amazonaws.com/supdog/Oliver.jpg" alt="Oliver"> </div>
  </div>

  <div class="postContainer">
    <div class="profilePic" > <img src="https://s3.amazonaws.com/supdog/FeedImage3.jpg" alt="feedimage2"> </div>

    <span class="post-name"> <strong> Taylor Edwards </strong> </span> <span class="post-location">was at <strong> Indiana Beach</strong></span>
    <br>
    <div class="post-body-container">
      <span class="post-body"> Had a Blast! </span>
    </div>
    <div class="uploadedPic" > <img src="https://s3.amazonaws.com/supdog/FeedImage1.jpg" alt="Oliver"> </div>
  </div>
</div>
