<style>
  .postContainer{
    margin-top: 10px;
    height: 400px;
    width: 300px;
  }
  .uploadedPic{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .uploadedPic img {
    width: 250px;
    height: 250px;
  }

  .profilePic {
    display: inline;
  }

  .profilePic img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .post-name {
    color: green;
    font-size: 10px;
  }

  .post-location {
    font-size: 9px;
  }

  .buddy-stream {
    display: flex;
    height: 600px;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  }

  .post-body-container {
    padding-left: 20px;
  }

  .post-body {
    font-size: 12px;
  }

</style>

<div class="buddy-stream">
  <div class="postContainer">
    <div class="profilePic" > <img src="https://s3.amazonaws.com/supdog/FeedImage2.jpg" alt="feedimage2"/> </div>

    <span class="post-name"> <strong>Evan Smith </strong> </span> <span class="post-location">was at <strong> Broad Ripple Animal Park</strong></span>
    <br />
    <div class="post-body-container">
      <span class="post-body"> Met up at the park with other fellow SupDogers and Oliver made new friends! </span>
    </div>
    <div class="uploadedPic" > <img src="https://s3.amazonaws.com/supdog/Oliver.jpg" alt="Oliver"/> </div>
  </div>

  <div class="postContainer">
    <div class="profilePic" > <img src="https://s3.amazonaws.com/supdog/FeedImage3.jpg" alt="feedimage2"/> </div>

    <span class="post-name"> <strong>Evan Smith </strong> </span> <span class="post-location">was at <strong> Indiana Beach</strong></span>
    <br />
    <div class="post-body-container">
      <span class="post-body"> Had a Blast! </span>
    </div>
    <div class="uploadedPic" > <img src="https://s3.amazonaws.com/supdog/FeedImage1.jpg" alt="Oliver"/> </div>
  </div>

  {{!-- <div id = "postContainer">
    <div id = "profilePic" > <img src="https://s3.amazonaws.com/supdog/FeedImage3.jpg" alt = "feedimage3"/> </div>
    <font size="5" color="green"> <strong>Taylor Brown </strong> </font> <font size="3" color="gray">was at </font> <strong> Indiana Beach </strong>
    <br />  Met up at the park with other fellow SupDogers and Oliver made new friends!
    <div id = "uploadedPic" > <img src="https://s3.amazonaws.com/supdog/FeedImage1.jpg" alt = "FeedImage1"/> </div>
  </div> --}}
</div>
