<div class="choose-feeling-container">
  <div class="choose-feeling-label">
    <label> How is Buddy Feeling Today? </label>
  </div>
  <div class="feeling-options-container">
    <button> Hungry </button>
    <button> Playful </button>
    <button> Adventurous </button>
    <button> Pampered </button>
    <button> Lazy </button>
  </div>
</div>