<div class="registration-pane" align="center">
  <h2>Create an Account</h2>

  <form name="form1" onsubmit="window.location.href = 'personal-info'; return false;">
    <input name="email" type="email" placeholder="email@gmail.com" required>

    <input id="password" name="password" type="password" placeholder="password" minLength="6" maxLength="10" required>

    <input id="confirm_password" name="confirm_password" type="password" placeholder="confirm password" required>

    <button> next </button>
  </form>
</div>