<div class="profile-header">
  <img class="avatar" src={{model.avatar}} alt="dog-avatar">
  <span class="name">{{model.fullName}}, {{model.age}}</span>

  <span class="bio">
    {{model.bio}}
  </span>

  <div class="badges">
    <div class="badge">
    <img  src='assets/joined.png' atl="badges">
    <p>Joined</p>
    </div>
    <div class="badge">
      <img  src='assets/friend.png' atl="badges">
      <p>First Friend</p>
    </div>
    <div class="badge">
      <img  src='assets/park.png' atl="badges">
      <p>Park Visit</p>
    </div>
  </div>
</div>
{{!-- <div class="social-icons">
    <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-4x"  aria-hidden="true"></i>
    <i class="fa fa-snapchat-square fa-4x" aria-hidden="true"></i>
    <i class="fa fa-tumblr-square fa-4x" aria-hidden="true"></i>
</div> --}}
