<div class="profile-header">
  <img class="avatar" src={{model.avatar}} alt="dog-avatar">
  <span class="name">{{model.fullName}}, {{model.age}}</span>

  <span class="bio">
    {{model.bio}}
  </span>

  <div class="badges">
    <div class="badge">
    <img  src='assets/joined.png' atl="badges">
    <p>Joined</p>
    </div>
    <div class="badge">
      <img  src='assets/gotFood.png' atl="badges">
      <p>Shared a meal</p>
    </div>
    <div class="badge">
      <img  src='assets/roadTrip.png' atl="badges">
      <p>Road Trip</p>
    </div>
  </div>
 
</div>
<div class="profile-footer">

</div>
