<div class="profile-header">
  <img class="avatar" src={{model.avatar}} alt="dog-avatar">
  <span class="name">{{model.fullName}}, {{model.age}}</span>

  <span class="bio">
    {{model.bio}}
  </span>

  <div class="badges">
    <div class="badge">
      <img src='assets/joined.png' alt="badges">
      <p>Joined</p>
    </div>
    <div class="badge">
      <img src='assets/friend.png' alt="badges">
      <p>First Friend</p>
    </div>
    <div class="badge">
      <img src='assets/park.png' alt="badges">
      <p>Park Visit</p>
    </div>
  </div>
</div>
