<div class="profile-header">
  <img class="avatar" src="https://cs.iupui.edu/~jbcampbe/cpg926.png" alt="dog-avatar">
  <span class="name">{{model.fullName}}, {{model.age}}</span>
  <span class="bio">
    {{model.bio}}
  </span>
</div>
<div class="profile-footer">

</div>